.default-colors {
  --background-color: #F1FAEE;
  --red: #E63946;
  --red2: #c23616;
  --blue: #A8DADC;
  --alt-background: #457b9d;
  --navbar: #353b48;
  --selected: #ffe66d;
  --green: #2a9d8f;
  --blue-btn: #0077b6;
}
main {
  min-height: 100vh;
  background-color: #f7f7f7;
}

.btn {
  border-radius: 5px;
  padding: .5em;
  border: none;
  color: white;
  font-weight: bold;
}

.btn-blue {
  background-color: var(--blue-btn);
}
.btn-red {
  background-color: var(--red);
}