.default-colors {
  --background-color: #F1FAEE;
  --red: #E63946;
  --red2: #c23616;
  --blue: #A8DADC;
  --alt-background: #457b9d;
  --navbar: #353b48;
  --selected: #ffe66d;
  --green: #2a9d8f;
  --blue-btn: #0077b6;
}
#client-main {
  min-height: 100vh;
  background-color: #f7f7f7;
  background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.15),
      rgba(0, 0, 0, 0.15)
    ),
      url("https://res.cloudinary.com/dkejgwlha/image/upload/v1599466840/RestManager/set-3045129_1920_g7a1y1.jpg");
  background-size: contain;
  background-position: center;
}

#admin-main {
  min-height: 100vh;
  background-color: #dcdde1;
}


.blackboard-bg {
  background-image: url("https://res.cloudinary.com/dkejgwlha/image/upload/v1599467533/RestManager/black-1072366_1920_ief4wl.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: white;
}

.super-text {
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 black,
      -1px -1px 0 black,  
      1px -1px 0 black,
      -1px 1px 0 black,
      1px 1px 0 black;
}

#header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: .8em 1em;
  color: white;
}
#header i {
  color: white;
}
#header i {
    font-size: 32px;
}
#header h1 {
  width: 100%;
  text-align: center;
}
.btn {
  border-radius: 5px;
  padding: .5em;
  border: none;
  color: white;
  font-weight: bold;
}

.btn-blue {
  background-color: var(--blue-btn);
}
.btn-red {
  background-color: var(--red);
}